/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), Tahoma, sans-serif;
  font-variation-settings: "wght" var(--article-text-weight);
  font-size: var(--font-size);
  color: var(--color-main);
  line-height: var(--line-height);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  justify-items: center;
  border: var(--border);
  font-family: var(--accent-font-family), fantasy;
  text-transform: uppercase;
  background-color: var(--bg-color);
  inline-size: clamp(23.188rem, 15.986rem + 31.057vw, 43.938rem);
  margin-block-end: 100px;
  margin-block-start: 100px;
}

.logo {
  display: block;
  outline: none;
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-start: clamp(7.5rem, 7.153rem + 1.497vw, 8.5rem);
}

.text-decoration {
  margin-block-end: 25px;
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  padding-inline-start: 20px;
  font-size: 14px;
  padding-block-end: 25px;
}

.theme-menu__button {
  position: relative;
  transition: opacity 0.3s ease;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  color: var(--color-main);
  inset-inline-start: -18px;
  inset-block-start: 0;
  animation: pointer_theme 0.5s infinite alternate ease-in-out;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-main);
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: 0 0;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  background-color: var(--bg-gradient);
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  inline-size: clamp(375px, calc(31% + 258px), 700px);
  margin-block-end: 50px;
}

.article {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-main);
  min-inline-size: 375px;
}

.article_title {
  background-color: var(--bg-color);
  padding-inline: 10px;
  padding-top: 4px;
  padding-block-end: 3px;
  font-variation-settings: "wght" var(--article-title-weight, 700);
  font-size: inherit;
  border: var(--border);
  border-block-end: none;
}

.article_image {
  position: relative;
  border: var(--border);
  border-block-end: none;
  width: 100%;
  filter: none;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  block-size: clamp(23.188rem, 16.116rem + 30.496vw, 43.563rem);
}

.image-filter-sepia {
  filter: sepia();
}

.image-filter-invert {
  filter: invert();
}

.image-filter-brightess {
  filter: brightness(50%);
}

.image-filter-opacity {
  filter: opacity(70%);
}

.image-filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.image-filter-blur {
  filter: blur(5px);
}

.image-filter {
  filter: brightness(50%) saturate(120%) hue-rotate(-45deg);
}

@supports (text-stroke: 1px var(--bg-color)) or
  (-webkit-text-stroke: 1px var(--bg-color)) {
  .card-leble {
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
  }
}

.card-leble {
  filter: none;
  z-index: 2;
  position: absolute;
  right: 11px;
  top: 25px;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--accent-font-family), fantasy;
  color: var(--color-main);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: var(--bg-color, #000);
}

.article_content {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: var(--border);
}
.article_text {
  padding-block-end: 27px;
  line-height: 21px;
}

.article_text:last-child {
  padding-right: 0px;
}

.memory_text {
  padding-block-end: 25px;
  line-height: 21px;
}

.article_button {
  display: flex;
  justify-content: end;
  gap: 7px;
  background-color: var(--bg-color, #fff);
}

.button {
  outline: none;
  border: var(--border);
  color: var(--color-main);
  background-color: var(--bg-color), #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--color-main, #000);
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-main);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 0;
  transform: scaleX(0);
  top: 0px;
  left: 0px;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  line-height: 90%;
  z-index: 1;
  color: var(--button-text, #fff);
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
  padding: 12px 0px;
}

.card__icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  block-size: 38px;
  background-color: transparent;
}

.card__icon-button:focus-visible {
  border: var(--border);
}

.like-icon {
  display: block;
}

.save {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 50px;
  width: 100%;
}

.button-save-memory {
  background-color: var(--bg-color);
  flex-wrap: wrap;
  padding: 15px;
  gap: 8px;
  inline-size: clamp(306px, 75%, 341px);
}

.floppy {
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
  align-self: center;
  z-index: 1;
  color: var(--floppy-color-inverse, #fff);
  transition: 0.5s ease-in-out;
}

.button-save-memory:hover .floppy {
  mix-blend-mode: difference;
}

.dialog {
  border: var(--border);
  padding-inline: clamp(30px, (375px - 100vw) * 10 / 325 + 40px, 40px);
  padding-block: 30px;
  background-color: var(--bg-color, #fff);
  inline-size: min(
    100%,
    clamp(341px, (100vw - 375px) * 16 / 325 + 341px, 357px)
  );
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--color-main, #000);
}

.dialog:modal {
  max-width: 100%;
  max-height: 100%;
}

.form {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: auto 38px;
  gap: 30px 20px;
  text-transform: uppercase;
}

.button-dialog {
  grid-column: span 2;
  text-transform: uppercase;
}

.text__modal_window {
  font-size: 14px;
  font-family: var(--accent-font-family), fantasy;
  font-weight: var(--article-text-weight);
  color: var(--color-main);
  line-height: 21px;
}

.button-dialog:hover {
  color: var(--bg-color, #fff);
}
.floppy_dialog {
  width: 39px;
  height: 39px;
}

@media (max-width: 376px) {
  .floppy {
    width: 28px;
    height: 28px;
  }
  .header {
    inline-size: 100%;
  }
}
